@import url(https://fonts.googleapis.com/css?family=Courgette:200,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

a {
    color: darkred;
}

strong {
    font-family: Cinzel;
    color: darkred;
}

.card.togglecard {
    visibility: hidden;
    display: none;
}

.card.togglecard.active {
    visibility: visible;
    display: block;
}

h5.card-title {
    font-family: Cinzel;
    color: darkred;
    font-weight: bold;
}

.flex-vertical-center { 
    align-items: center; 
} 

.textblock {
    padding: 1rem;
}

hr {
    color: darkred;
    margin: 0;
}

.list-group-item.active {
    color: black;
    background-color: #d8bcbd44;
    border-color: darkred;
}

.list-group-item-action:hover{
    background-color: #fff8dd66;
}

.tagbox {
    display: flex;
    justify-content: space-between;
}
